/* src/App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f5deb3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container,
.home-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #6a5acd;
  /* slate blue */
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #5a4fcf;
  /* darker slate blue */
}